# SAVE DATA CSV

In [5]:
import pandas as pd
import pymysql

# MySQL connection setup
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='',
    database='harga_saham'
)
cursor = connection.cursor()

# List of tickers
tickers = ['ACES.JK', 'ADMR.JK', 'ADRO.JK', 'AKRA.JK', 'AMMN.JK', 'AMRT.JK', 'ANTM.JK',
    'ARTO.JK', 'ASII.JK', 'BBCA.JK', 'BBNI.JK', 'BBRI.JK', 'BMRI.JK', 'BRIS.JK',
    'BRPT.JK', 'BUKA.JK', 'CPIN.JK', 'EMTK.JK', 'ESSA.JK', 'EXCL.JK', 'GOTO.JK',
    'GGRM.JK', 'HRUM.JK', 'ICBP.JK', 'INCO.JK', 'INDF.JK', 'INKP.JK', 'INTP.JK',
    'ITMG.JK', 'JPFA.JK', 'JSMR.JK', 'KLBF.JK', 'MAPI.JK', 'MBMA.JK', 'MDKA.JK',
    'MEDC.JK', 'PGAS.JK', 'PGEO.JK', 'PTBA.JK', 'SIDO.JK', 'SMGR.JK', 'SRTG.JK',
    'TLKM.JK', 'TPIA.JK', 'UNTR.JK', 'UNVR.JK']


# Retrieve data from MySQL
retrieved_data = {}
for ticker in tickers:
    sql = f"SELECT * FROM data_saham_max_all_mei WHERE Ticker = '{ticker}'"
    cursor.execute(sql)
    data = cursor.fetchall()
    df = pd.DataFrame(data, columns=['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume', 'Ticker'])
    df.set_index('Datetime', inplace=True)
    df.index = pd.to_datetime(df.index)
    retrieved_data[ticker] = df
    print(f"Data for {ticker} has been successfully retrieved from MySQL.")

# Close the connection
cursor.close()
connection.close()

print("Data retrieval process completed.")

ValueError: 7 columns passed, passed data had 3 columns

In [6]:
import pandas as pd
import pymysql
import os

# --- Persiapan ---
# 1. Pastikan library openpyxl sudah terinstall untuk menyimpan file Excel
#    Jalankan di terminal/CMD: pip install openpyxl

# 2. Buat folder untuk menyimpan backup jika belum ada
output_folder = 'BACKUP_DATASET'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)
    print(f"Folder '{output_folder}' telah dibuat.")

# --- MySQL Connection Setup ---
try:
    connection = pymysql.connect(
        host='localhost',
        user='root',
        password='',
        database='harga_saham'
    )
    cursor = connection.cursor()
    print("Koneksi ke MySQL berhasil.")
except pymysql.Error as e:
    print(f"Error saat menghubungkan ke MySQL: {e}")
    exit() # Keluar dari script jika koneksi gagal

# --- List of Tickers ---
tickers = ['ACES.JK', 'ADMR.JK', 'ADRO.JK', 'AKRA.JK', 'AMMN.JK', 'AMRT.JK', 'ANTM.JK',
    'ARTO.JK', 'ASII.JK', 'BBCA.JK', 'BBNI.JK', 'BBRI.JK', 'BMRI.JK', 'BRIS.JK',
    'BRPT.JK', 'BUKA.JK', 'CPIN.JK', 'EMTK.JK', 'ESSA.JK', 'EXCL.JK', 'GOTO.JK',
    'GGRM.JK', 'HRUM.JK', 'ICBP.JK', 'INCO.JK', 'INDF.JK', 'INKP.JK', 'INTP.JK',
    'ITMG.JK', 'JPFA.JK', 'JSMR.JK', 'KLBF.JK', 'MAPI.JK', 'MBMA.JK', 'MDKA.JK',
    'MEDC.JK', 'PGAS.JK', 'PGEO.JK', 'PTBA.JK', 'SIDO.JK', 'SMGR.JK', 'SRTG.JK',
    'TLKM.JK', 'TPIA.JK', 'UNTR.JK', 'UNVR.JK']

# --- Proses Pengambilan dan Penyimpanan Data ---
retrieved_data = {}
column_names = ['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume', 'Ticker']

for ticker in tickers:
    try:
        # PERBAIKAN: Sebutkan nama kolom secara eksplisit dalam query SQL
        # Ini adalah praktik terbaik untuk menghindari error jika urutan kolom di DB berubah
        sql = f"SELECT Datetime, Open, High, Low, Close, Volume, Ticker FROM data_saham_max_all_mei WHERE Ticker = '{ticker}'"
        
        cursor.execute(sql)
        data = cursor.fetchall()

        if not data:
            print(f"Tidak ada data ditemukan untuk {ticker}. Melewati...")
            continue

        # Membuat DataFrame dengan nama kolom yang sudah pasti benar
        df = pd.DataFrame(data, columns=column_names)
        
        # Konversi dan set index
        df['Datetime'] = pd.to_datetime(df['Datetime'])
        df.set_index('Datetime', inplace=True)
        
        retrieved_data[ticker] = df
        print(f"Data untuk {ticker} berhasil diambil dari MySQL.")

        # --- PENAMBAHAN: Menyimpan data ke file CSV dan Excel ---
        # Membuat nama file yang aman (mengganti '.' dengan '_')
        safe_ticker_name = ticker.replace('.', '_')
        
        # Path untuk file CSV dan Excel
        csv_path = os.path.join(output_folder, f'{safe_ticker_name}.csv')
        excel_path = os.path.join(output_folder, f'{safe_ticker_name}.xlsx')

        # Menyimpan ke file
        df.to_csv(csv_path)
        df.to_excel(excel_path)
        
        print(f" -> Data {ticker} telah disimpan ke {csv_path} dan {excel_path}")

    except Exception as e:
        print(f"Terjadi error saat memproses ticker {ticker}: {e}")


# --- Menutup Koneksi ---
cursor.close()
connection.close()
print("\nKoneksi ke MySQL telah ditutup.")
print("Proses pengambilan dan backup data selesai.")

Folder 'BACKUP_DATASET' telah dibuat.
Koneksi ke MySQL berhasil.
Terjadi error saat memproses ticker ACES.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ADMR.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ADRO.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker AKRA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker AMMN.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker AMRT.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ANTM.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ARTO.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ASII.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BBCA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BBNI.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BBRI.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BMRI.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BRIS.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BRPT.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker BUKA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker CPIN.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker EMTK.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ESSA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker EXCL.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker GOTO.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker GGRM.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker HRUM.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ICBP.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker INCO.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker INDF.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker INKP.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker INTP.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker ITMG.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker JPFA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker JSMR.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker KLBF.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker MAPI.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker MBMA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker MDKA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker MEDC.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker PGAS.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker PGEO.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker PTBA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker SIDO.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker SMGR.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker SRTG.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker TLKM.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker TPIA.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker UNTR.JK: (1054, "Unknown column 'Datetime' in 'field list'")
Terjadi error saat memproses ticker UNVR.JK: (1054, "Unknown column 'Datetime' in 'field list'")

Koneksi ke MySQL telah ditutup.
Proses pengambilan dan backup data selesai.

In [7]:
def load_data_from_json(tickers, json_folder='DATA_JSON'):
    """
    Memuat data historis saham dari file-file JSON.

    Args:
        tickers (list): Daftar ticker saham yang akan dimuat.
        json_folder (str): Nama folder tempat file JSON disimpan.

    Returns:
        dict: Sebuah dictionary berisi DataFrame untuk setiap ticker yang berhasil dimuat.
    """
    retrieved_data = {}
    print("\n--- Memulai Proses Pemuatan Data dari JSON ---")
    
    for ticker in tickers:
        file_path = os.path.join(json_folder, f"{ticker}.json")
        
        if not os.path.exists(file_path):
            print(f"PERINGATAN: File untuk {ticker} tidak ditemukan di '{file_path}'. Melewati...")
            continue
            
        try:
            # Membaca file JSON dan langsung membuatnya menjadi DataFrame
            # Pandas sangat baik dalam membaca list of dictionaries
            df = pd.read_json(file_path)
            
            # Melakukan standarisasi kolom dan tipe data
            df.rename(columns={'Date': 'Datetime'}, inplace=True) # Menyamakan nama kolom
            df['Datetime'] = pd.to_datetime(df['Datetime'])
            df.set_index('Datetime', inplace=True)
            
            retrieved_data[ticker] = df
            print(f"Data untuk {ticker} berhasil dimuat dan diproses.")
            
        except Exception as e:
            print(f"ERROR: Gagal memproses file untuk {ticker}. Kesalahan: {e}")
            
    return retrieved_data


# --- Bagian 3: Fungsi Terpisah untuk Menyimpan Data ---

def save_dataframes(data_dictionary, output_folder='BACKUP_DATASET'):
    """
    Menyimpan setiap DataFrame dalam dictionary ke file CSV dan Excel.

    Args:
        data_dictionary (dict): Dictionary berisi ticker sebagai key dan DataFrame sebagai value.
        output_folder (str): Nama folder tujuan untuk menyimpan file backup.
    """
    print("\n--- Memulai Proses Penyimpanan Data ---")
    if not data_dictionary:
        print("Tidak ada data untuk disimpan.")
        return

    # Membuat folder output jika belum ada
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)
        print(f"Folder '{output_folder}' telah dibuat.")

    for ticker, df in data_dictionary.items():
        # Membuat nama file yang aman (mengganti '.' dengan '_')
        safe_ticker_name = ticker.replace('.', '_')
        
        # Mendefinisikan path lengkap untuk file
        csv_path = os.path.join(output_folder, f'{safe_ticker_name}.csv')
        excel_path = os.path.join(output_folder, f'{safe_ticker_name}.xlsx')

        try:
            # Menyimpan ke file CSV dan Excel
            df.to_csv(csv_path)
            df.to_excel(excel_path)
            print(f" -> Data {ticker} berhasil disimpan ke CSV dan Excel.")
        except Exception as e:
            print(f"ERROR: Gagal menyimpan data untuk {ticker}. Kesalahan: {e}")


tickers = ['ACES.JK', 'ADMR.JK', 'ADRO.JK', 'AKRA.JK', 'AMMN.JK', 'AMRT.JK', 'ANTM.JK',
    'ARTO.JK', 'ASII.JK', 'BBCA.JK', 'BBNI.JK', 'BBRI.JK', 'BMRI.JK', 'BRIS.JK',
    'BRPT.JK', 'BUKA.JK', 'CPIN.JK', 'EMTK.JK', 'ESSA.JK', 'EXCL.JK', 'GOTO.JK',
    'GGRM.JK', 'HRUM.JK', 'ICBP.JK', 'INCO.JK', 'INDF.JK', 'INKP.JK', 'INTP.JK',
    'ITMG.JK', 'JPFA.JK', 'JSMR.JK', 'KLBF.JK', 'MAPI.JK', 'MBMA.JK', 'MDKA.JK',
    'MEDC.JK', 'PGAS.JK', 'PGEO.JK', 'PTBA.JK', 'SIDO.JK', 'SMGR.JK', 'SRTG.JK',
    'TLKM.JK', 'TPIA.JK', 'UNTR.JK', 'UNVR.JK']

In [ ]:
# Langkah 1: Panggil fungsi untuk memuat semua data dari file JSON
all_stock_data = load_data_from_json(tickers, json_folder='DATA_JSON')

    # Langkah 2: Panggil fungsi terpisah untuk menyimpan data yang sudah dimuat
save_dataframes(all_stock_data, output_folder='BACKUP_DATASET')
    
print("\nProses selesai.")

## NEWWW

In [9]:
import pandas as pd
import pymysql
import json

# MySQL connection setup
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='',
    database='harga_saham'
)
cursor = connection.cursor()

# List of tickers
tickers = ['ACES.JK', 'ADMR.JK', 'ADRO.JK', 'AKRA.JK', 'AMMN.JK', 'AMRT.JK', 'ANTM.JK',
    'ARTO.JK', 'ASII.JK', 'BBCA.JK', 'BBNI.JK', 'BBRI.JK', 'BMRI.JK', 'BRIS.JK',
    'BRPT.JK', 'BUKA.JK', 'CPIN.JK', 'EMTK.JK', 'ESSA.JK', 'EXCL.JK', 'GOTO.JK',
    'GGRM.JK', 'HRUM.JK', 'ICBP.JK', 'INCO.JK', 'INDF.JK', 'INKP.JK', 'INTP.JK',
    'ITMG.JK', 'JPFA.JK', 'JSMR.JK', 'KLBF.JK', 'MAPI.JK', 'MBMA.JK', 'MDKA.JK',
    'MEDC.JK', 'PGAS.JK', 'PGEO.JK', 'PTBA.JK', 'SIDO.JK', 'SMGR.JK', 'SRTG.JK',
    'TLKM.JK', 'TPIA.JK', 'UNTR.JK', 'UNVR.JK']

# Initialize an empty DataFrame to store all ticker data
harga_saham = pd.DataFrame()

# Retrieve data from MySQL and store it in harga_saham
for ticker in tickers:
    sql = f"SELECT Data FROM data_saham_max_all_mei WHERE Ticker = '{ticker}'"
    cursor.execute(sql)
    result = cursor.fetchone()  # Fetch the JSON data
    
    if result:
        # Parse JSON data into a Python list of dictionaries
        data_saham_max_all_mei = json.loads(result[0])
        
        # Convert the list of dictionaries into a DataFrame
        df = pd.DataFrame(data_saham_max_all_mei)
        
        # Ensure 'Date' is in datetime format and set it as the index
        df['Date'] = pd.to_datetime(df['Date'])
        df.set_index('Date', inplace=True)
        
        # Add a column for the ticker symbol
        df['Ticker'] = ticker
        
        # Concatenate df to harga_saham (append the new ticker data)
        harga_saham = pd.concat([harga_saham, df])
        
        print(f"Data for {ticker} has been successfully retrieved from MySQL.")
    else:
        print(f"No data found for {ticker} in MySQL.")

# Close the connection
cursor.close()
connection.close()

print("Data retrieval and concatenation process from 'data_saham_max_all_mei' completed.")
print(harga_saham.head())  # Display the first few rows of the combined data

Data for ACES.JK has been successfully retrieved from MySQL.
Data for ADMR.JK has been successfully retrieved from MySQL.
Data for ADRO.JK has been successfully retrieved from MySQL.
Data for AKRA.JK has been successfully retrieved from MySQL.
Data for AMMN.JK has been successfully retrieved from MySQL.
Data for AMRT.JK has been successfully retrieved from MySQL.
Data for ANTM.JK has been successfully retrieved from MySQL.
Data for ARTO.JK has been successfully retrieved from MySQL.
Data for ASII.JK has been successfully retrieved from MySQL.
Data for BBCA.JK has been successfully retrieved from MySQL.
Data for BBNI.JK has been successfully retrieved from MySQL.
Data for BBRI.JK has been successfully retrieved from MySQL.
Data for BMRI.JK has been successfully retrieved from MySQL.
Data for BRIS.JK has been successfully retrieved from MySQL.
Data for BRPT.JK has been successfully retrieved from MySQL.
Data for BUKA.JK has been successfully retrieved from MySQL.
Data for CPIN.JK has been successfully retrieved from MySQL.
Data for EMTK.JK has been successfully retrieved from MySQL.
Data for ESSA.JK has been successfully retrieved from MySQL.
Data for EXCL.JK has been successfully retrieved from MySQL.
Data for GOTO.JK has been successfully retrieved from MySQL.
Data for GGRM.JK has been successfully retrieved from MySQL.
Data for HRUM.JK has been successfully retrieved from MySQL.
Data for ICBP.JK has been successfully retrieved from MySQL.
Data for INCO.JK has been successfully retrieved from MySQL.
Data for INDF.JK has been successfully retrieved from MySQL.
Data for INKP.JK has been successfully retrieved from MySQL.
Data for INTP.JK has been successfully retrieved from MySQL.
Data for ITMG.JK has been successfully retrieved from MySQL.
Data for JPFA.JK has been successfully retrieved from MySQL.
Data for JSMR.JK has been successfully retrieved from MySQL.
Data for KLBF.JK has been successfully retrieved from MySQL.
Data for MAPI.JK has been successfully retrieved from MySQL.
Data for MBMA.JK has been successfully retrieved from MySQL.
Data for MDKA.JK has been successfully retrieved from MySQL.
Data for MEDC.JK has been successfully retrieved from MySQL.
Data for PGAS.JK has been successfully retrieved from MySQL.
Data for PGEO.JK has been successfully retrieved from MySQL.
Data for PTBA.JK has been successfully retrieved from MySQL.
Data for SIDO.JK has been successfully retrieved from MySQL.
Data for SMGR.JK has been successfully retrieved from MySQL.
Data for SRTG.JK has been successfully retrieved from MySQL.
Data for TLKM.JK has been successfully retrieved from MySQL.
Data for TPIA.JK has been successfully retrieved from MySQL.
Data for UNTR.JK has been successfully retrieved from MySQL.
Data for UNVR.JK has been successfully retrieved from MySQL.
Data retrieval and concatenation process from 'data_saham_max_all_mei' completed.
                 Open       High        Low      Close      Volume   Ticker
Date
2007-11-06  72.440193  75.396936  65.787522  72.440193  1274430000  ACES.JK
2007-11-07  72.440189  76.136117  71.701003  74.657745   349330000  ACES.JK
2007-11-08  73.179382  73.918568  70.961825  73.179382    66270000  ACES.JK
2007-11-09  70.222649  71.701020  70.222649  70.222649    40075000  ACES.JK
2007-11-12  66.526711  70.222639  65.787525  66.526711   113285000  ACES.JK

In [10]:
df

,Open,High,Low,Close,Volume,Ticker
Date,,,,,,
2003-09-03,306.681173,336.601288,301.694488,336.601288,43162500,UNVR.JK
2003-09-04,344.081325,374.001440,336.601296,341.587982,82850000,UNVR.JK
2003-09-05,341.587895,349.067922,339.094553,344.081238,24055000,UNVR.JK
2003-09-08,344.081321,344.081321,331.614606,339.094635,18007500,UNVR.JK
2003-09-09,339.094622,339.094622,329.121251,331.614594,14075000,UNVR.JK
...,...,...,...,...,...,...
2025-05-28,1745.000000,1750.000000,1710.000000,1730.000000,25197600,UNVR.JK
2025-06-02,1730.000000,1765.000000,1710.000000,1730.000000,26515500,UNVR.JK
2025-06-03,1720.000000,1765.000000,1685.000000,1690.000000,31456000,UNVR.JK
2025-06-04,1720.000000,1735.000000,1640.000000,1645.000000,31712900,UNVR.JK
2025-06-05,1655.000000,1655.000000,1605.000000,1625.000000,17144300,UNVR.JK

In [11]:
import pandas as pd
import pymysql
import json

# --- Persiapan ---
# 1. Tentukan tanggal awal (2 tahun dari sekarang)
#    Ini dilakukan sekali saja di awal untuk efisiensi.
end_date = pd.Timestamp.now()
start_date = end_date - pd.DateOffset(years=2)

print(f"Akan mengambil data dari tanggal {start_date.strftime('%Y-%m-%d')} hingga hari ini.")
print("-" * 50)

# --- Koneksi ke MySQL ---
try:
    connection = pymysql.connect(
        host='localhost',
        user='root',
        password='',
        database='harga_saham'
    )
    cursor = connection.cursor()
    print("Koneksi ke MySQL berhasil.\n")
except pymysql.Error as e:
    print(f"Error saat menghubungkan ke MySQL: {e}")
    exit()

# --- List Ticker ---
tickers = ['ACES.JK', 'ADMR.JK', 'ADRO.JK', 'AKRA.JK', 'AMMN.JK', 'AMRT.JK', 'ANTM.JK',
    'ARTO.JK', 'ASII.JK', 'BBCA.JK', 'BBNI.JK', 'BBRI.JK', 'BMRI.JK', 'BRIS.JK',
    'BRPT.JK', 'BUKA.JK', 'CPIN.JK', 'EMTK.JK', 'ESSA.JK', 'EXCL.JK', 'GOTO.JK',
    'GGRM.JK', 'HRUM.JK', 'ICBP.JK', 'INCO.JK', 'INDF.JK', 'INKP.JK', 'INTP.JK',
    'ITMG.JK', 'JPFA.JK', 'JSMR.JK', 'KLBF.JK', 'MAPI.JK', 'MBMA.JK', 'MDKA.JK',
    'MEDC.JK', 'PGAS.JK', 'PGEO.JK', 'PTBA.JK', 'SIDO.JK', 'SMGR.JK', 'SRTG.JK',
    'TLKM.JK', 'TPIA.JK', 'UNTR.JK', 'UNVR.JK']

# --- Proses Pengambilan dan Penggabungan Data ---

# List untuk menampung semua DataFrame yang sudah difilter (CARA EFISIEN)
list_of_dataframes = []

for ticker in tickers:
    sql = f"SELECT Data FROM data_saham_max_all_mei WHERE Ticker = '{ticker}'"
    cursor.execute(sql)
    result = cursor.fetchone()
    
    # Pastikan result tidak None dan result[0] (kolom 'Data') punya isi
    if result and result[0]:
        try:
            # Parse JSON menjadi list of dictionaries
            data_list = json.loads(result[0])
            
            # Jika JSON string berisi list kosong '[]', lewati
            if not data_list:
                print(f"Data JSON untuk {ticker} kosong. Melewati...")
                continue

            # Ubah menjadi DataFrame
            df = pd.DataFrame(data_list)
            
            # Ubah kolom 'Date' menjadi datetime dan jadikan index
            df['Date'] = pd.to_datetime(df['Date'])
            df.set_index('Date', inplace=True)
            
            # --- FILTER DATA: Ambil data dari 2 tahun terakhir ---
            df_filtered = df[df.index >= start_date].copy() # .copy() untuk menghindari SettingWithCopyWarning
            
            # Jika ada data yang tersisa setelah difilter
            if not df_filtered.empty:
                # Tambahkan kolom Ticker
                df_filtered['Ticker'] = ticker
                
                # Tambahkan DataFrame yang sudah difilter ke dalam list
                list_of_dataframes.append(df_filtered)
                
                print(f"Data untuk {ticker} berhasil diambil dan difilter ({len(df_filtered)} baris).")
            else:
                print(f"Tidak ada data untuk {ticker} dalam rentang waktu 2 tahun terakhir.")

        except json.JSONDecodeError:
            print(f"Gagal mem-parsing JSON untuk ticker {ticker}. Melewati...")
        except Exception as e:
            print(f"Terjadi error saat memproses {ticker}: {e}")
    else:
        print(f"Tidak ada data ditemukan untuk {ticker} di MySQL.")

# --- Tutup Koneksi ---
cursor.close()
connection.close()
print("\nKoneksi ke MySQL telah ditutup.")

# --- Gabungkan Semua DataFrame Menjadi Satu ---
if list_of_dataframes:
    # Lakukan konkatenasi SATU KALI setelah loop selesai. Jauh lebih cepat!
    harga_saham_final = pd.concat(list_of_dataframes)
    
    print("\n--- Proses Pengambilan dan Penggabungan Data Selesai ---")
    print(f"Total baris data yang terkumpul: {len(harga_saham_final)}")
    
    # Menampilkan informasi dan beberapa baris data
    print("\nInfo DataFrame Gabungan:")
    harga_saham_final.info()
    
    print("\n5 Baris Pertama Data Gabungan:")
    print(harga_saham_final.head())
    
    print("\n5 Baris Terakhir Data Gabungan:")
    print(harga_saham_final.tail())
else:
    print("\nTidak ada data yang berhasil dikumpulkan untuk rentang waktu yang ditentukan.")

Akan mengambil data dari tanggal 2023-07-04 hingga hari ini.
--------------------------------------------------
Koneksi ke MySQL berhasil.

Data untuk ACES.JK berhasil diambil dan difilter (455 baris).
Data untuk ADMR.JK berhasil diambil dan difilter (455 baris).
Data untuk ADRO.JK berhasil diambil dan difilter (455 baris).
Data untuk AKRA.JK berhasil diambil dan difilter (455 baris).
Data untuk AMMN.JK berhasil diambil dan difilter (453 baris).
Data untuk AMRT.JK berhasil diambil dan difilter (455 baris).
Data untuk ANTM.JK berhasil diambil dan difilter (455 baris).
Data untuk ARTO.JK berhasil diambil dan difilter (455 baris).
Data untuk ASII.JK berhasil diambil dan difilter (455 baris).
Data untuk BBCA.JK berhasil diambil dan difilter (455 baris).
Data untuk BBNI.JK berhasil diambil dan difilter (455 baris).
Data untuk BBRI.JK berhasil diambil dan difilter (455 baris).
Data untuk BMRI.JK berhasil diambil dan difilter (455 baris).
Data untuk BRIS.JK berhasil diambil dan difilter (455 baris).
Data untuk BRPT.JK berhasil diambil dan difilter (455 baris).
Data untuk BUKA.JK berhasil diambil dan difilter (455 baris).
Data untuk CPIN.JK berhasil diambil dan difilter (455 baris).
Data untuk EMTK.JK berhasil diambil dan difilter (455 baris).
Data untuk ESSA.JK berhasil diambil dan difilter (455 baris).
Data untuk EXCL.JK berhasil diambil dan difilter (455 baris).
Data untuk GOTO.JK berhasil diambil dan difilter (455 baris).
Data untuk GGRM.JK berhasil diambil dan difilter (455 baris).
Data untuk HRUM.JK berhasil diambil dan difilter (455 baris).
Data untuk ICBP.JK berhasil diambil dan difilter (455 baris).
Data untuk INCO.JK berhasil diambil dan difilter (455 baris).
Data untuk INDF.JK berhasil diambil dan difilter (455 baris).
Data untuk INKP.JK berhasil diambil dan difilter (455 baris).
Data untuk INTP.JK berhasil diambil dan difilter (455 baris).
Data untuk ITMG.JK berhasil diambil dan difilter (455 baris).
Data untuk JPFA.JK berhasil diambil dan difilter (455 baris).
Data untuk JSMR.JK berhasil diambil dan difilter (455 baris).
Data untuk KLBF.JK berhasil diambil dan difilter (455 baris).
Data untuk MAPI.JK berhasil diambil dan difilter (455 baris).
Data untuk MBMA.JK berhasil diambil dan difilter (455 baris).
Data untuk MDKA.JK berhasil diambil dan difilter (455 baris).
Data untuk MEDC.JK berhasil diambil dan difilter (455 baris).
Data untuk PGAS.JK berhasil diambil dan difilter (455 baris).
Data untuk PGEO.JK berhasil diambil dan difilter (455 baris).
Data untuk PTBA.JK berhasil diambil dan difilter (455 baris).
Data untuk SIDO.JK berhasil diambil dan difilter (455 baris).
Data untuk SMGR.JK berhasil diambil dan difilter (455 baris).
Data untuk SRTG.JK berhasil diambil dan difilter (455 baris).
Data untuk TLKM.JK berhasil diambil dan difilter (455 baris).
Data untuk TPIA.JK berhasil diambil dan difilter (455 baris).
Data untuk UNTR.JK berhasil diambil dan difilter (455 baris).
Data untuk UNVR.JK berhasil diambil dan difilter (455 baris).

Koneksi ke MySQL telah ditutup.

--- Proses Pengambilan dan Penggabungan Data Selesai ---
Total baris data yang terkumpul: 20928

Info DataFrame Gabungan:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20928 entries, 2023-07-05 to 2025-06-05
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    20928 non-null  float64
 1   High    20928 non-null  float64
 2   Low     20928 non-null  float64
 3   Close   20928 non-null  float64
 4   Volume  20928 non-null  int64
 5   Ticker  20928 non-null  object
dtypes: float64(4), int64(1), object(1)
memory usage: 1.1+ MB

5 Baris Pertama Data Gabungan:
                  Open        High         Low       Close     Volume   Ticker
Date
2023-07-05  610.264531  624.680228  600.654066  615.069763  115440700  ACES.JK
2023-07-06  619.875008  639.095939  610.264543  629.485474   72533600  ACES.JK
2023-07-07  629.485468  715.979654  615.069770  691.953491  391956300  ACES.JK
2023-07-10  696.758715  706.369180  677.537785  682.343018  120543400  ACES.JK
2023-07-11  682.343018  696.758715  677.537785  682.343018   61117100  ACES.JK

5 Baris Terakhir Data Gabungan:
              Open    High     Low   Close    Volume   Ticker
Date
2025-05-28  1745.0  1750.0  1710.0  1730.0  25197600  UNVR.JK
2025-06-02  1730.0  1765.0  1710.0  1730.0  26515500  UNVR.JK
2025-06-03  1720.0  1765.0  1685.0  1690.0  31456000  UNVR.JK
2025-06-04  1720.0  1735.0  1640.0  1645.0  31712900  UNVR.JK
2025-06-05  1655.0  1655.0  1605.0  1625.0  17144300  UNVR.JK

In [12]:
harga_saham_final

,Open,High,Low,Close,Volume,Ticker
Date,,,,,,
2023-07-05,610.264531,624.680228,600.654066,615.069763,115440700,ACES.JK
2023-07-06,619.875008,639.095939,610.264543,629.485474,72533600,ACES.JK
2023-07-07,629.485468,715.979654,615.069770,691.953491,391956300,ACES.JK
2023-07-10,696.758715,706.369180,677.537785,682.343018,120543400,ACES.JK
2023-07-11,682.343018,696.758715,677.537785,682.343018,61117100,ACES.JK
...,...,...,...,...,...,...
2025-05-28,1745.000000,1750.000000,1710.000000,1730.000000,25197600,UNVR.JK
2025-06-02,1730.000000,1765.000000,1710.000000,1730.000000,26515500,UNVR.JK
2025-06-03,1720.000000,1765.000000,1685.000000,1690.000000,31456000,UNVR.JK
2025-06-04,1720.000000,1735.000000,1640.000000,1645.000000,31712900,UNVR.JK
2025-06-05,1655.000000,1655.000000,1605.000000,1625.000000,17144300,UNVR.JK

In [13]:
csv_path = 'BACKUP_DATASET/harga_saham_final.csv'
excel_path = 'BACKUP_DATASET/harga_saham_final.xlsx'

print(f"\nMenyimpan data ke file CSV di '{csv_path}'...")
        # index=True agar kolom 'Date' (yang merupakan index) ikut tersimpan
harga_saham_final.to_csv(csv_path, index=True)
print(" -> Berhasil.")
        
        # 5. Simpan ke Excel
print(f"Menyimpan data ke file Excel di '{excel_path}'...")
        # Catatan: Menyimpan ke Excel bisa memakan waktu lebih lama untuk data besar
harga_saham_final.to_excel(excel_path, index=True)
print(" -> Berhasil.")

Menyimpan data ke file CSV di 'BACKUP_DATASET/harga_saham_final.csv'...
 -> Berhasil.
Menyimpan data ke file Excel di 'BACKUP_DATASET/harga_saham_final.xlsx'...
 -> Berhasil.